*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* banner start */

.banner{
    display: flex;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    width: 1321px;
    height: 646px;
    background-color: #161616;
    border-radius: 15px;
    color: white;
}

.banner-text{
    padding: 80px;
    width: 50%;
}
.banner-images{
    width: 50%;
    padding: 45px;
}
.banner-images img{
    width: 100%;
}
.banner-text h1{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.banner-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    font-style: normal;
    
}

.btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-align: center; 
    background-color: #DD0000;
    border: none;
    width: 187px;
    height: 56px;
    color: white;

}
/* banner end */

/* section start */
.fullsection{
    width: 1321px;
    display: flex;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
}
.leftsite{
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 24px;
}
ul{
    padding: 20px;
}

li{
    background-color: white;
    padding: 15px 10px;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    list-style-type: none;
    
}
.blog{
    background-color: #DD0000;
    color: white;
}

.rightsite{
    width: 1020px;
    height: 800px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.cart{
    width: 312px;
    height: 362px;
    border-radius: 8px;
    margin-bottom: 24px;
    margin-right: 24px;
    border: 1px solid gray;

}
.cart p{
    font-size: 18px;
    margin-top: 30px;
}

/* section end */

/* footer start */
footer{
    margin-top: 130px;
    padding-top: 130px;
    height: 444px;
    width: 100%;
    
    background-color:#161616 ;
}

.footer-title{
    font-size: 95px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}



hr{
width: 1400px;
margin: 0 auto;
border: .5px solid #ffff;
}
nav{
    margin-top: 50px;
    
}

.footer-nav{
    
    text-align: center;

}

span{
    color: #B9B9B9;
    padding: 20px;
    
}
/* footer end */

/* upcoming match srart */
.vs-all{
    width: 312px;
    height: 242px;
    /* background-color: #DD0000; */
    border-radius: 8px;
    margin-bottom: 24px;
    margin-right: 24px;
    border: 1px solid gray;
}

.vs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.vs-main{

    padding-bottom: 150px;

}

.vs-text{
    padding: 20px;
    text-align: center;
}
.countery{
    font-size: 20px;
    color: #161616;
    margin-bottom: 5px;
}
.time{
    color: #4D4D4D;
    font-size: 16px;

}


